.quiz-list{
  min-width: 500px;
  &__title{
    font-size: 24px;
    padding: 30px 0 20px;
  }
  &__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 15px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 1px 10px rgba(205, 209, 212, 0.64);
    color: #333333;
  }
  &__name{
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 600;
  }
  &__category{
    display: inline-block;
    padding: 8px 15px;
    border-radius: 20px;
    background: #f5f8fb;
    font-size: 12px;
    color: #767e92;
    font-weight: 600;
  }
  &__dots{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
    border: 1px solid #ecedf0;
    background: #ffffff;
    outline: none;
    user-select: none;
    font-size: 16px;
    color: #7a8296;
  }
}