*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  transition: all ease-in .2s;
  text-decoration: none;
}

li{
  list-style-type: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
